@model WebApplicationNewPro.Models.StudentCoursesTests

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GradeOfTests</title>
</head>
<body>
    <div>
        <form action="SubmitGradeOfTests" method="post">
            Enter ID course: <input id="Text1" name="courseID" type="text" />
            <br />
            <input id="Submit1" type="submit" value="enter" />
            @TempData["message"]
        </form>
    </div>
</body>
</html>
