@model WebApplicationNewPro.Models.StudentCoursesTests
@using WebApplicationNewPro.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentsPerCourse</title>
</head>
<body>
    <div>
        <form action="SubmitStudentsPerCourse" method="post">
            Enter ID course: <input id="Text1" name="courseID" type="text" />
            <br />

            <input id="Submit1" type="submit" value="enter" />
        </form>


    </div>
</body>
</html>
