@model WebApplicationNewPro.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>
    <div>
        <form action="ShowCoursesSchedule">
            <input id="Submit2" type="submit" value="Show Courses Schedule" />
        </form>
        <br />
        <form action="ShowTests">
            <input id="Submit3" type="submit" value="Show Tests" />
        </form>
        
    </div>
</body>
</html>
